[Desktop Entry]
Encoding=UTF-8
Name=Moneta
Comment=Moneta P2P Cryptocurrency
Comment[fr]=Moneta, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Moneta, eşten eşe kriptografik sanal para birimi
Exec=moneta-qt %u
Terminal=false
Type=Application
Icon=moneta128
MimeType=x-scheme-handler/moneta;
Categories=Office;Finance;
